body{
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
}
.corps{
    display: grid;
    border-radius: 5px;
    grid-column-gap: 10px;
    border: lightgrey solid 1px;
    padding: auto;
    margin: 20px auto auto!important;
    width: 40%;

}

.inputItem{
    display: grid;
    border-radius: 10px;
    margin: 10px auto !important;
    width: 70%;

}
.buttonsItem{
    display: grid;
    border-radius: 10px;
    width: 70%;
    margin: 10px auto !important;
}

.inputIconUser{
    color: rgba(0,0,0,.25)
}
.inputIconLock{
    color: rgba(0,0,0,.25)
}
.title{
    text-align: center;
}