.corps{
    grid-column-gap: 10px;
    padding: auto;
    margin: 20px auto auto!important;
}
.list {
    display: grid!important;
    grid-template-columns: 2fr 1fr!important;
}

.options{
    display: grid!important;
    grid-template-rows: 1fr 1fr!important;
}
