.collapses{
    width: 70%;
    margin: auto;
}

.problemepart{
    display: grid;
    grid-row-gap: 40px;
}

.title{
    text-align: center;
}

.operationspart{
    display: grid;
    grid-template-columns: 1fr;
    width: 30%;
}

.extra{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.datedebut{
    color: lightgrey;
}
