.collapses{
    width: 70%;
    margin: auto;
}

.problemepart{
    display: grid;
    grid-row-gap: 40px;
}

.title{
    text-align: center;
}

.operationspart{
    display: grid;
    grid-template-columns: 1fr;
    width: 30%;
}

.extra{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.datedebut{
    color: lightgrey;
}
.dates{
   text-align: center;
}

.description{
    border-radius: 5px;
    grid-column-gap: 10px;
    border: lightgrey solid 1px;
    padding: auto;
    margin: 20px auto auto!important;
    width: 80%;
    height: 100%;
    text-align: center;
}

.corps{
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
}

.list{
    width: 70%!important;
    margin: auto!important;
}
.container{
    display: grid;
    grid-row-gap: 40px;
}

.secondPart{
    display: grid;
    grid-template-columns: 1fr 1fr;
}